body {
    background: url('../images/bg.jpg') no-repeat fixed;
    background-size: cover;
}

.btn_login_page {
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    .bg-main {
        margin-right: 10px;
    }
}

.loginbox {
    margin-left: 75px;
    text-align:center;
    border: 0;
    background: url(../images/tmbg-white.png);
}



